@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap'); 

body {
  font-family: 'Indie Flower', cursive;  
  background-image: url("https://github.com/crystalNB/portfolio-/blob/master/wp2424379.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bigheading {
  
  font-size: 50px;
}

h1 {
 font-style; italic;  
  font-size: 50px;
  color:#B536B9;
  border: 5px outset purple;
  float:center;
  animation-name: anima;
  animation-duration: 2s;
  animation-iteration-count: infinite 
 
  
}

@keyframes anima
0%{color:pink;}
50%{color:yellow;}
100%{color:pink;}

p {
  color:#DDA5DF;
 
}
  .navbar {
    overflow: hidden;
    background-color:#E118A4;
 
    
      
  }
  
  .navbar a {
   float: left; 
   display: block;
   color:#ECB8DC;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 16px;
  }
  
  
.navbar a:hover {
  background-color:#FBD6F0;
  color:#BF188C;
  }
  
  .navbar a.active {
    background-color:#571342;
    color: white;
  }
  
