@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap'); 

body {
  font-family: 'Indie Flower', cursive;  
  background-image: url("https://github.com/crystalNB/portfolio-/blob/master/wp2424379.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



h1 {
 font-style; italic;  
  font-size: 50px;
  color:#B536B9;
  border: 5px outset purple;
  float:right;
 
  
}

p {
  color:#DDA5DF;
}
